.code-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .code {
    height: 50px;
    width: 50px;
    color: var(--ion-color-medium);
    border: 2px solid var(--ion-color-medium);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    span {
      font-size: 1.3rem;
    }
  }

  .code.active {
    color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
  }
}

.title {
  font-size: 34px;
  font-family: "Bebas Neue", cursive !important;
  background: -webkit-linear-gradient(
    var(--ion-color-primary),
    var(--ion-color-tertiary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.full {
  height: 96vh;
}
