<ion-content>
  <ion-grid>
    <ion-row class="full-height ion-padding">
      <ion-col class="ion-padding" class="flexend-column">
        <h1>Get strong and success with our plans</h1>
        <ion-text class="ion-margin-bottom"
          >Focus on your goals everyday</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-vertical flexend-row">
        <ion-button fill="clear" (click)="navigate()">
          <div class="btn-container">
            <ion-text>Start training today</ion-text>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
