<ion-content>
  <ion-grid class="full-height ion-text-center">
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <ion-icon name="lock-closed" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <p>
          You shortly receive in your inbox an email with the instructions to
          setup a new password
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <ion-button
          class="cta-button"
          expand="block"
          fill="solid"
          type="button"
        >
          <span>Enter code now</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
