ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 34px;
  font-family: "Bebas Neue", cursive !important;
  background: -webkit-linear-gradient(
    var(--ion-color-primary),
    var(--ion-color-tertiary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caption {
  color: var(--ion-color-medium);
  text-align: left;
  max-width: 80vw;
  line-height: 24px;
}

.errors-container {
  font-size: 13px;
  line-height: 30px;
  color: var(--ion-color-light);
}

ion-item {
  --border-color: var(--ion-color-medium);
  --highlight-color-invalid: var(--ion-color-light) !important;
  --highlight-color-focused: var(--ion-color-light) !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;

  ion-input {
    font-size: 13px;
    min-height: 48px !important;
  }
}

@media (max-device-height: 640px), handheld and (orientation: portrait) {
  .errors-container {
    font-size: 12px;
  }
}
