<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding full-height">
    <ion-row>
      <ion-col>
        <ion-text class="title ion-margin-bottom">Forgot Password?</ion-text>
        <p class="caption ion-padding-bottom">Fill the form to receive instructions on how to change your credentials</p>
        <form [formGroup]="forgotForm" (ngSubmit)="submitForgot()">
          <ion-row class="input-container ion-no-padding">
            <ion-col>
              <ion-item class="ion-no-padding">
                <ion-label color="medium" position="stacked"
                  >Email Address</ion-label
                >
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>

              <div
                class="errors-container"
                *ngIf="forgotForm.get('email').invalid && (forgotForm.get('email').dirty || forgotForm.get('email').touched)"
              >
                <ng-container *ngIf="forgotForm.get('email').errors.required"
                  >Email is required</ng-container
                >
              </div>
            </ion-col>
          </ion-row>         
          <ion-row>
            <ion-col class="ion-padding-top">
              <ion-button
                [disabled]="forgotForm.invalid"
                class="cta-button"
                expand="block"
                fill="solid"
                type="submit"
              >
                <span>Send now</span>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
