<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=""
        text=""
        (click)="goBack()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          color="medium"
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Try search workouts"></ion-searchbar>
  </ion-toolbar>
  <ion-grid class="ion-padding-horizontal">
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="section-title">
          <ion-text>New courses</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-bottom">
        <ion-slides [options]="slideConfig">
          <ion-slide *ngFor="let course of newCourses">
            <app-course-card
              [new]="course.new"
              [image]="course.image"
              [title]="course.title"
              [duration]="course.duration"
              [bodyArea]="course.bodyArea"
              (click)="goToDetail(course.id)"
            ></app-course-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="section-title">
          <ion-text>Popular Trainers</ion-text>
          <a slot="end" routerLink="/trainers">View All</a>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-bottom">
        <ion-list class="ion-no-padding">
          <app-trainer-item
            *ngFor="let trainer of trainers"
            [avatar]="trainer.avatar"
            [name]="trainer.name"
            [videos]="trainer.videos"
            [followers]="trainer.followers"
          ></app-trainer-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
