ion-thumbnail {
  --border-radius: 10px;
}

ul {
  padding: 0 6px 0 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    list-style: none;
    display: inline;
    line-height: 16px;
    font-size: 14px;
    text-align: left;
    color: var(--ion-color-medium);

    ion-icon {
      font-size: 21px;
      padding: 0 4px 0 0;
      color: var(--ion-color-medium);
    }
  }
}

ion-label {
  margin: 8px 0;
  
  ion-text {
    white-space: normal;
  }
}

.ion-text-right {
  margin-left: 0;
  max-width: 30%;

  ion-text {
    font-size: 14px;
  }

  p {
    line-height: 16px;
    font-size: 14px;
    color: var(--ion-color-light);
  }
}
