svg {
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(-90deg)
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 20;
    stroke: rgba(255, 255, 255, 0.05);
    transform: translate(10px, 10px);
    stroke-linecap: round;
}

svg circle:nth-child(2) {
    stroke: var(--ion-color-primary);
    stroke-dasharray: 500px;
}