.ios .safe-area {
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
}

ion-header ion-toolbar {
  --background: var(--ion-color-dark);
}

.cta-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-dark);
  text-transform: capitalize;
  --box-shadow: none !important;
}

.cta-outline {
  --color: var(--ion-color-dark);  
  text-transform: capitalize;
  --box-shadow: none !important;
}

.caption-text {
  --color: var(--ion-color-medium);
}

.cta-button,
.social-btn,
.cta-outline {
  --border-radius: 0.5rem !important;
  box-shadow: none !important;
  min-height: 50px;
}

.full-height {
  height: 100% !important;
}

.reply {
  padding-left: 40px;
}

.section-title {
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-text {
    font-size: 16px;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--ion-color-medium);
    margin: 0;
  }
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.badge {
  position: absolute;
  right: 0;
  margin: 10px;
  color: var(--ion-color-dark) !important;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 10px;
  background: var(--ion-color-primary);
  padding: 2px 8px;
  line-height: 17px;
}

ion-segment-button {
  --color: var(--ion-color-medium);
}

ion-segment {
  --background: var(--ion-color-dark);
}

.modal-container .modal-wrapper {
  height: 65%;
  width: 80%;
  border-radius: 10px;
}

.code-container .modal-wrapper {
  height: 45vh;
  width: 75%;
  border-radius: 10px;
}
.errors-container {
  font-size: 13px;
  line-height: 30px;
  color: var(--ion-color-light);
}

.opts-container {
  --color: var(--ion-color-light);
  --button-color: var(--ion-color-light);
  --background: var(--ion-color-dark);
}

.loading-wrapper {
  border-radius: 10px !important;
  --background: var(--ion-color-dark);
  color: var(--ion-color-light);
}

.loader-text {
  margin: 14px !important;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--ion-color-primary);
  border-radius: 10px;
  left: 30%;
  animation: loader 2s infinite ease;
  margin-top: 14px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--ion-color-primary);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@media (max-device-height: 640px), handheld and (orientation: portrait) {
  .code-container .modal-wrapper {
    height: 50vh;
  }

  .badge {
    font-size: 11px;
  }

  .errors-container {
    font-size: 12px;
  }
}
