<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/community" text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-title>
            <ion-item lines="none" class="ion-no-padding">
              <ion-avatar slot="start">
                <img [src]="post.user.avatar" />
              </ion-avatar>
              <ion-label>
                <h2 class="item-title">{{ post.user.name }}</h2>
                <p class="item-subtitle">{{ post.date | date:"mediumDate" }}</p>
              </ion-label>
              <ion-button
                slot="end"
                fill="outline"
                size="small"
                color="primary"
                class="follow-btn"
              >
                Follow
              </ion-button>
            </ion-item>
          </ion-card-title>
          <ion-card-content class="ion-no-padding">
            <ion-slides pager="true" [options]="imgConfig">
              <ion-slide *ngFor="let item of post.images">
                <img src="{{ item }}" />
              </ion-slide>
            </ion-slides>
            <div class="card-footer">
              <div class="icon-container">
                <ul>
                  <li>
                    <ion-item lines="none">
                      <ion-icon color="danger" name="heart"></ion-icon>
                      <ion-label>{{ post.likes }}</ion-label>
                    </ion-item>
                  </li>
                  <li>
                    <ion-item lines="none">
                      <ion-icon color="light" name="chatbubble"></ion-icon>
                      <ion-label>{{ post.comments.total }}</ion-label>
                    </ion-item>
                  </li>
                </ul>
              </div>
              <ion-buttons slot="end">
                <ion-button
                  class="circle-btn"
                  fill="clear"
                  size="small"
                  shape="round"
                  color="light"
                >
                  <ion-icon slot="icon-only" name="bookmark"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list class="ion-no-padding">
          <ion-item lines="none" *ngFor="let cm of post.comments.data">
            <ion-text class="comment">
              <span class="user-comment">{{cm.user}}</span>
              <span class="user-message">{{cm.message}}</span>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      class="btn-comments"
      fill="clear"
      size="small"
      (click)="navigateToComments(post.id)"
      >View all comments</ion-button
    >
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <ion-item lines="none" class="form-container">
        <ion-input
          type="text"
          placeholder="Write your comment"
          formControlName="comment"
        ></ion-input>
        <ion-button
          slot="end"
          class="circle-btn"
          fill="clear"
          size="small"
          shape="round"
          color="primary"         
        >
          <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
